* {
    padding: 0;
    margin: 0 auto;
}

body {
    /* font-family: $font-stack; */
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
    font-weight: 300;
}

.light {
    color: $light-text !important;
}

.subtext {
    color: $light-grey !important;
    font-weight: 300;
}

.lead,
strong,
.icons {
    color: $accent-color;
}

.accent {
    background-color: $light-rose-color;
}

.header-first {
    height: 630px;
}

.header-first .row {
    margin-top: 165px;
}

.header-first h2 {
    font-weight: 300;
    padding: 35px 3px;
}

#devices {
    width: 85%;
}

.btn-outline-inverse {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 35px;
    color: #fff;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-transparence:hover {
    background: #fff;
    color: $primary-color;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-transparence {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;
    color: $light-text;
    font-size: 16px;
    font-weight: 200 !important;
}

.header-first .lead {
    font-weight: 100;
    font-size: 1.2em;
}

#grad {
    background: $primary-color;
    background: -webkit-linear-gradient(left top, $primary-color, $accent-color);
    background: -o-linear-gradient(bottom right, $primary-color, $accent-color);
    background: -moz-linear-gradient(bottom right, $primary-color, $accent-color);
    background: linear-gradient(to bottom right, $primary-color, $accent-color);
}

#lines {
    position: absolute;
    top: 165px !important;
}


/* -- 1.Navbar -- */

.navbar-brand {
    height: 75px;
}

.navbar-default {
    border-color: transparent;
}

.header {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none !important;
    height: 0;
    z-index: 3000;
}

.navbar-fixed-top {
    background-color: rgba(255, 255, 255, 0.75) !important;
    height: 80px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.45);
}

.navbar-toggle .icon-bar {
    background-color: #888;
}

.active a {
    color: $primary-color !important;
}

.nav-item a {
    font-size: 1.2em;
    color: $light-text;
    font-weight: 300;
    background-color: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nav > li > a:hover,
.nav > li > a:focus,
.navbar-fixed .navbar-nav .nav-item a:hover {
    background-color: transparent;
    color: $accent-color !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-fixed-top .navbar-nav .nav-item a {
    color: #37414e;
}

.navbar-fixed-top .navbar-brand {
    margin-top: -15px;
}

#dark-logo {
    display: none;
    margin-top: -7px;
}

#light-logo {
    display: block;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: none;
}

#logo-text,
#first-sec h1 {
    font-family: $font-logo;
    color: $light-text;
}

#logo-text {
    color: $primary-color;
    font-size: 1.2em;
}

#img-logo {
    padding: 120px 0;
}

img,
figure>img {
    max-width: 100%;
    height: auto;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-fixed-top {
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.32);
    -ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.32);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.32);
}

.navbar-nav li:hover {
    box-shadow: inset 0 -4px $accent-color;
}

.navbar-default .navbar-nav > li > a:hover {
    color: $accent-color !important;
}

.start .nav-start,
.faq .nav-faq,
.work .nav-work {
    box-shadow: inset 0 -4px $accent-color;
}


/* -- Features -- */

.features {
    background-color: #f8f9fb;
    padding: 150px 5px;
}

.features i {
    font-size: 1.8em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 1.2em;
    border: 1px solid #eaeced;
    background: $light-text;
    color: $dark-grey;
}


/* -- Downloads -- */

.download-us {
    padding: 45px 0;
}

.download-us img {
    width: 200px;
}

.download-us h2 {
    color: $dark-grey;
}

#download-buttons {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

#download-buttons li {
    display: inline;
    margin: 5px 10px;
}

#download-buttons a {
    cursor: pointer;
    text-decoration: none;
}
