/* -- Fonts -- */

@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
@font-face {
    font-family: Futura;
    src: url(/fonts/Futura-Medium.ttf) format('truetype');
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

$font-stack: 'Roboto',
sans-serif;
$font-title: 'Titillium Web',
sans-serif;
$font-logo: 'Futura',
sans-serif;

/* -- Colors -- */

$primary-color: #F50057;
$dark-primary-color: #C51162;
$light-text: #FFFFFF;
$accent-color: #FF80AB;
$light-rose-color: #fde2eb;
$dark-grey: #585b60;
$light-grey: #9da6ac;
